html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora';
    margin: 0px;
    background-image: radial-gradient(circle,  #180048 0%,  #05022B 81%,  #060219 100%);
    color: #ebe9ff;
    width: 100%;
    overflow: hidden;
    font-size: 15px;
}

/* Pour Firefox */
/* Pour les navigateurs WebKit (Chrome, Safari, Edge) */
body::-webkit-scrollbar, .projet_desc::-webkit-scrollbar {
    width: 15px; /* Largeur de la scrollbar */
}

body::-webkit-scrollbar-track, .projet_desc::-webkit-scrollbar-track {
    background: #060219; /* Couleur de la piste */
    opacity: 0.5;
}

body::-webkit-scrollbar-thumb, .projet_desc::-webkit-scrollbar-thumb {
    background: #3a49ea; /* Couleur du curseur */
}

body::-webkit-scrollbar-thumb:hover {
    background: #5e64d2; /* Couleur au survol */
}

a {
    text-decoration: none;
    color: #ebe9ff;
}

/* Animation d'intro */

.intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: #ebe9ff;
}
        
.intro_titre {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    margin-bottom: 2rem;
    clip-path: inset(0 100% 0 0);
}
        
.loading-bar {
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #3a49ea, #5e64d2);
    border-radius: 3px;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: -1;
}

/* Header */

header {
    background: none;
    padding: 35px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    border-bottom: none;
    transition: 0.5s ease;
}

.header-visible {
    background-color: #060219;
    border-bottom: solid 1px #ebe9ff;
}

.header_nav {
    display: flex;
    justify-content: right;
    gap: 100px;
    margin-right: 5%;
}

.header_nav>a {
    font-size: 0.9em;
    position: relative;
    width: max-content;
}

.header_nav>a::after {
    content: "";
    position: absolute;
    width: 140%;
    background-image: linear-gradient(#05041D 20%,#111068 90% 10%);
    left: -20%;
    right: 0;
    bottom: -30px;
    transition: 0.2s ease;
    z-index: -1;
    opacity: 0;
    filter: blur(4px);
}

.header_nav>a:nth-child(4):after {
    left: -70%;
    width: 250%;
}

.header_nav>a:hover::after {
    height: 125px;
    opacity: 1;
}

.reponsive_nav_header {
    display: none;
}

.icones {
    width: 40px;
}

/* Homepage */

.homepage {
    width: auto;
    margin: 300px 10% 20% 10%;
}

.homepage_flex {
    display: flex;
}

.homepage_reseaux {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titres {
    margin-left: 8%;
    display: block;
    margin-bottom: 50px;
}

.Titre {
    font-size: 60px;
    position: relative;
}

.Titre::before {
    content: "DIMITRI KNYAZEV";
    position: absolute;
    animation: titres_animation 3s ease infinite;
    z-index: -1;
    opacity: 0.3;
    filter: blur(2px);
}

.sous_titre {
    font-size: 25px;
}

@keyframes titres_animation {
    0%,100% {
        filter: blur(2px);
        transform: none;
    }
    25% {
        transform: translate(-2px, -10px);
    }

    50% {
        transform: translate(2px, -10px);
    }
}

.homepage_scrollbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(13, 5, 36);
    text-align: center;
    padding: 20px 30px 20px 30px;
    align-items: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 10%;
    position: relative;
    z-index: 0;
    width: max-content;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px #ebe9ff;
    transition: 0.4s;
}

.homepage_scrollbar::before {
    content: "";
    background: rgb(68, 68, 107);
    width: 0%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.4s;
    z-index: -1;
    border-radius: 20px;

}

.homepage_scrollbar:hover::before {
    width: 100%;
}

.homepage_scrollbar svg  {
    transition: 0.2s ease;
}

.homepage_scrollbar:hover svg {
    transform: scale(1.2);
}

h1 {
    margin-bottom: 30px;
}

.presentation_section, .competence_section, .projets_section, .cv_section, .contact_section {
    padding: 150px 15% 150px 15%;
    margin: 0% 0%;
    transition: 0.4s ease;
    opacity: 0;
    transform: translateX(-50px);
}

.intro_section {
    width: 80%;
}

.section_visible {
    opacity: 1;
    transform: translateX(0);
}

.presentation_section {
    margin-top: 10vw;
    display: flex;
    gap: 200px;
    background: #d7d4ff10;
}

.section_interet_parcours_more {
    font-size: 15px;
    margin-top: 30px;
}

.section_centre_interet_parcours_more {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

/************** section compétence *****************/

.competence_section {
    background: #ebe9ff17;
    box-sizing: border-box;
}

.competence_section_grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center;
    gap: 10px;
}

 
.bloc_competence {
   border: solid 1px #ebe9ff;
    background: #d7d4ff20;
    border-radius: 20px;
    display: flex;
    align-items: center;    
    justify-content: center; 
    text-align: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    color: #ebe9ff;
    width: 50%;            
    min-height: 50px; 
    position: relative; 
    z-index: 1;
    overflow: hidden;
}

.section_bloc_competence {
    align-items: center; /* Aligne l'icône et le texte sur la même ligne */
    gap: 10px;
}

.section_bloc_competence>.element_competences {
    margin-top: 10px;
}

.element_competences {
   display: flex;
   align-items: center;
   gap: 10px;
}

.element_competences>div {
    flex-wrap: nowrap;
}

.icones_competences {
    width: 35px;
    transition: 0.2s ease;
}

.icones_competences:hover {
    transform: scale(1.2);
}

/************** Réalisations *****************/

.projets_section {
    position: relative;
}

.projets_section_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* Responsive */
    gap: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.bloc_projet {
    background: #ebe9ff50;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 100%;
    max-width: 100%;
    transition: 0.2s ease;
    text-shadow: 0px 0px 5px 1px #05041D;
    animation: appear_bloc 2s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    overflow: hidden;
    transition: 0.2s ease;
}

@keyframes appear_bloc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bloc_projet:hover img{
    transform: scale(1.2);
}

.bloc_projet>img {
    opacity: 0.7;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bloc_projet h3 {
    text-shadow: 0px 0px 10px #0a0a0a;
}

.titre_projet {
    position: absolute;
    bottom: 10%;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    left: 10%;
    right: 10%;
}

.projet_desc {
    padding: 15px;
    position: absolute;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #06021920;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box; /* Inclut le padding dans la largeur/hauteur */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease;
    overflow: auto;
    clip-path: inset(50% 50% 50% 50%);
}

.projet_desc p {
    width: 100%;
}

.bloc_projet:hover {
    transform: translateY(-10px);
    transition: 0.4s ease;
    box-shadow: 6px 6px 5px 3px #0a0a0a50;
    background: none;
}

.bloc_projet:hover .titre_projet {
    opacity: 0;
}

.bloc_projet:hover .projet_desc {
    opacity: 1;
    clip-path: inset(0 0 1% 0);
}

.bloc_projet:hover img {
    opacity: 0.1;
    filter: blur(1px);
}

.lien_projet {
    background: #5e64d2;
    padding: 10px 2px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    transition: 0.2s;
}

.lien_projet:hover {
    background: #3a49ea;
}

/*************************** CV ******************************/

.cv_section {
    background: #ebe9ff17;
}

.cv_section_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.deux_cv {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.CV {
    text-align: center;
    width: 400px;
}

.image_cv {
    transition: 0.2s ease;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image_cv>img {
    width: 100%;
    display: block;
    transition: 0.2s ease;
}

.hover_cv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 23, 39, 0.8);
    color: #d7d4ff;
    padding: 10px;
    opacity: 0;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image_cv:hover {
    transform: translateY(-10px);
    transition: 0.5s ease;
    box-shadow: 6px 6px 5px 3px #0a0a0a50;
}

.image_cv:hover .hover_cv {
    opacity: 1;
    transform: scale(1.2);
}

.image_cv:hover img {
    filter: blur(1px);
}

/*************************** Contact ******************************/

.contact_section {
    background: #EFEEFF10;
}

.contact_section_flex {
    display: flex;
    justify-content: space-around;
}

.contact_left>p {
    width: 40%;
}

.element_contact {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.element_contact>div>b {
    margin-bottom: 20px;
}

.icones_contact {
    width: 50px;
    height: 50px;
}

.element_formulaire {
    margin-bottom: 30px;
}

.label_formulaire {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.label_formulaire::after {
    content: "*";
    color: #e74c3c;
    margin-left: 5px;
}

.input_formulaire {
    position: relative;
    background: none;
    border: none;
    color: #d7d4ff;
    position: relative;
    width: 500px;
    border-bottom: solid 3px #ebe9ff;
    transition: 0.2s ease;
    font-size: 20px;
}

.input_formulaire:focus, textarea:focus {
    outline: none;
    background-color: #ebe9ff10;
}

textarea {
    background: none;
    border: solid 3px #ebe9ff;
    width: 100%;
    padding: 5px;
    min-height: 200px;
    resize: vertical;
    color: #ebe9ff;
    transition: 0.2s ease;
    font-size: 20px;
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 15px; /* Largeur de la scrollbar */
}

textarea::-webkit-scrollbar-track {
    background: #d7d4ff; /* Couleur de la piste */
}

textarea::-webkit-scrollbar-thumb {
    background: #3a49ea; /* Couleur du curseur */
    cursor: s-resize;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #5e64d2; /* Couleur au survol */
}

.formulaire_submit {
    background: none;
    border: solid 3px #ebe9ff;
    padding: 10px 30px 10px 30px;
    color: #ebe9ff;
    transition: 0.2s ease;
}

.formulaire_submit:hover {
    background: #ebe9ff;
    color: #060219;
}

.error-message {
    color: #ff4444;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    display: none;
}

.submit.success {
    background-color: #4CAF50 !important;
    color: white;
    border-color: #4CAF50;
}

.formulaire_submit[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
    border-color: #4CAF50;
}

/* Footer */

footer {
    padding: 150px 10% 100px 10%;
    background: #05041D;
    flex-wrap: wrap;
    position: relative;
}

.bouton_retour {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%; /* Forme ronde */
    box-shadow: 0 0 5px #ebe9ff;
    transition: 0.3s ease;
    text-decoration: none;
    left: 50%;
    top: 15px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
}

.bouton_retour:hover {
    transform: scale(1.1); /* Légère augmentation de taille */
    background-color: #d7d4ff30; /* Couleur au survol */
}

.bouton_retour img {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

.footer_colonnes {
    display: flex;
    gap: 20%;
    justify-content: center;
}

.footer_colonne>div {
    margin-top: 10%;
}

.footer_colonne>div>a {
    color: #9c9c9c;
    transition: 0.2s;
}

.footer_colonne>div>a:hover {
    color: #ebe9ff;
}

/**********************************************************************************/
/********************** Partie Responsive *****************************************/
/**********************************************************************************/

/* Version Tablette */
@media (max-width: 1024px) {
    header {
        padding: 20px;
        left: 0;
        right: 0;
        top: 0;
    }

    .header-visible {
        background: none;
        border: none;
    }

    .intro_titre {
        font-size: 20px;
    }

    .header_nav {
        display: none;
    }

    .reponsive_nav_header {
        display: block;
        position: relative;
        margin: 30px;
        position: fixed;
        right: 30px;
    }

    .responsive_button_header {
        position: relative;
        display: block;
        display: flex;
        flex-direction: column;
    }

    .responsive_button_header_barre {
        position: absolute;
        background-color: #ebe9ff;
        border-radius: 50px;
        width: 40px;
        height: 4px;
        transition: 0.2s ease;
    }

    .responsive_button_header_barre:first-child {
        top: -10px;
    }

    .responsive_button_header_barre:last-child{
        top: 10px;
    }

    .responsive_ecran_sombre {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a0a0a;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
    }
    
    .responsive_ecran_sombre_open {
        opacity: 0.5;
        pointer-events: auto;
    }

    .reponsive_nav_header>svg {
        width: 40px;
        cursor: pointer;
    }

    .reponsive_nav_header_menu {
        position: absolute;
        top: 50px;
        left: -110px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: #180048;
        padding: 10px;
        clip-path: inset(0 0 100% 0);
        transition: 0.2s ease;
        border: solid 1px #ebe9ff;
        border-radius: 10px;
    }

    .reponsive_nav_header_menu>u>a {
        font-size: 20px;
    }

    .reponsive_nav_header_menu_open {
        clip-path: inset(0 0 0 0);
    }

    .header_nav {
        gap: 5px;
    }

    .responsive_button_header.menu-open .responsive_button_header_barre:nth-child(1) {
        transform: rotate(45deg) translateY(14px);
    }
    .responsive_button_header.menu-open .responsive_button_header_barre:nth-child(2) {
        opacity: 0;
    }
    .responsive_button_header.menu-open .responsive_button_header_barre:nth-child(3) {
        transform: rotate(-45deg) translateY(-14px);
    }

/* reste de la page en responsive */

    .presentation_section {
        display: flex;
        gap: 10%;
    }

    .presentation_section, .competence_section, .projets_section, .cv_section, .contact_section {
        padding: 150px 20px 150px 20px;
    }

    .projet_desc {
        font-size: 15px;
        display: none;
        transition: 0.2s ease;
    }

    .projet_desc.visible {
        display: block;
        opacity: 1;
        clip-path: inset(0 0 1% 0);
}

    .cv_section_flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact_section_flex {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .input_formulaire {
        width: 90%;
    }

    textarea {
        width: 90%;
    }

    footer {
    padding: 100px 5% 80px 5%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer_colonnes {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }

  .footer_colonne > div {
    margin-top: 0;
  }
}


/************************* Version Mobile *************************/
@media (max-width: 480px) {

    header {
        padding: 20px;
    }

    .reponsive_nav_header_menu>div>a {
        font-size: 15px;
    }

    .icones {
        width: 30px;
    }

    .homepage {
        margin: 100px 10px 200px 10px;
    }

    .titres {
    margin-left: 15px;
    vertical-align: auto;
}

.Titre {
    font-size: 30px;
}

.sous_titre {
    margin-bottom: 50px;
    font-size: 15px;
}

.homepage_scrollbar {
    padding: 10px;
    font-size: 15px;
}

    h1 {
        font-size: 20px;
    }

    .intro_section {
       font-size: 15px;
    }

    .presentation_section, .competence_section, .projets_section, .cv_section, .contact_section {
        padding: 150px 10px 150px 10px;
    }

    .presentation_section {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .presentation_section_right {
        position: relative;
        width: 50px;
    }

    .bloc_competence {
        width: 200px;
        gap: 5px;
    }

    .bloc_competence>div {
        font-size: 10px;
    }

    .element_competences svg {
        width: 30px;
    }

    .projets_section_grid {
        grid-template-columns: 300px;
    }

    .bloc_projet {
        height: 200px;
        width: 80%;
    }

    .cv_section_flex {
        display: block;
    }

    .image_cv {
        width: 50%;
    }
}